@import "tailwindcss";
@import "./variables.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  ::-moz-selection {
    color: var(--color-black);
    background-color: var(--color-nmvx-main);
  }
  ::selection {
    color: white;
    background: #212949;
  }

  :root {
    font-family: "Inter", sans-serif;
    height: 100%;
    color: white;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    background-color: #161718;

    -webkit-text-size-adjust: 100%;
    font-variation-settings: normal;
    cursor: auto;
    font-kerning: none;
    text-rendering: optimizeSpeed;
  }

  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .astro-code code {
    @apply w-full h-full block;
  }

  h1 {
    @apply text-2xl lg:text-4xl leading-normal;
  }

  h3 {
    @apply text-lg lg:text-2xl;
  }
}

/* h1 {
  font-size: 42px;
  margin-top: 0.25em;
}

h2 {
  margin: 0 0 1em;
  font-weight: normal;
  font-size: 40px;
}

p {
  font-size: 18px;
  margin: 0 0 0.4em;
} */

/* pre {
  width: 100%;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  font-weight: normal;
  border-radius: 8px;
  padding: 4px;
  margin: 0;
} */

/* code {
  display: inline-block;
  border-radius: 8px;
  background-color: #20405c9a;
  border: 1px solid transparent;
  color: white;
  padding: 3px 8px;
} */
