---
import Hero from "~components/Hero.astro";
import Layout from "~layouts/Layout.astro";
import Bento from "~components/Bento.astro";
import Additional from "~components/Additional.astro";
import Table from "~components/TableContent.astro";
---

<Layout
  title="HEAD - Panduan ringkas untuk elemen <head> HTML"
  description="Panduan ringkas untuk elemen <head> HTML, diterjemah di dalam Bahasa Melayu."
>
  <Hero />
  <!-- <Table /> -->
  <!-- <Bento /> -->
  <div class="flex w-full h-full justify-center items-center p-2 lg:p-4">
    <h1 class="text-white text-center lg:text-left text-7xl">Halaman ini dalam proses pengubahsuaian</h1>
  </div>
  <div id="stripe" class="bg-white/25 backdrop-blur-3xl mb-12 mt-4 block h-[2px] w-full rounded-lg"></div>
  <Additional />
</Layout>
