---

---

<section
  class="mx-2 mt-4 flex flex-col items-start justify-center text-white lg:flex-row"
>
  <div
    id="projek-berkaitan"
    class="relative flex flex-col items-start justify-center p-4 lg:p-12"
  >
    <h1 class="font-bold">Projek Berkaitan</h1>
    <ul class="relative list-item list-none items-start gap-4 *:mb-3 lg:gap-6">
      <li class="block">
        <a
          class="underline"
          href="https://github.com/joshbuchea/atom-html-head-snippets"
          >Atom HTML Head Snippets</a
        > - Pakej atom untuk coretan `HEAD`
      </li>
      <li class="block">
        <a
          class="underline"
          href="https://github.com/marcobiedermann/sublime-head-snippets"
          >Sublime Text HTML Head Snippets</a
        > - Pakej Sublime Text untuk coretan `HEAD`
      </li>
      <li class="block">
        <a class="underline" href="https://github.com/hemanth/head-it"
          >head-it</a
        > - Antara muka CLI untuk coretan `HEAD`
      </li>
      <li class="block">
        <a class="underline" href="https://github.com/ktquez/vue-head"
          >vue-head</a
        > - Memanipulasi maklumat meta teg `HEAD` untuk Vue.js
      </li>
    </ul>
  </div>

  <div
    id="sumber-lain"
    class="relative flex flex-col items-start justify-center p-4 lg:p-12"
  >
    <h1 class="font-bold">Sumber Lain</h1>
    <ul class="relative list-item list-none gap-4 *:mb-3 lg:gap-6">
      <li class="block">
        <a
          class="underline"
          href="https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/html.md"
          >📖 HTML5 Boilerplate Docs: The HTML</a
        >
      </li>
      <li class="block">
        <a
          class="underline"
          href="https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md"
          >📖 HTML5 Boilerplate Docs: Extend and customize</a
        >
      </li>
    </ul>
  </div>
</section>
