<div class="mt-4 flex flex-col lg:flex-row justify-center gap-2 lg:gap-4 mx-2 text-white">
  <section id="sumber-lain" class="flex bg-black/25 relative p-4 lg:p-12 rounded-lg backdrop-blur-3xl flex-col items-center lg:items-start justify-center">
    <h1 class="font-bold">Sumber Lain</h1>
    <div class="flex flex-col w-full h-full justify-start items-start gap-2">
      <a
        class="underline"
        href="https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/html.md"
        >📖 HTML5 Boilerplate Docs: The HTML</a
      >
      <a
        class="underline"
        href="https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md"
        >📖 HTML5 Boilerplate Docs: Extend and customize</a
      >
    </div>
  </section>
  <section id="projek-berkaitan" class="flex bg-black/25 relative p-4 lg:p-12 rounded-lg backdrop-blur-3xl flex-col items-center lg:items-start justify-center">
    <h1 class="font-bold">Projek Berkaitan</h1>
    <div class="flex flex-col w-full h-full justify-start items-start gap-2">
      <span class="inline-block"
        ><a
          class="underline"
          href="https://github.com/joshbuchea/atom-html-head-snippets"
          >Atom HTML Head Snippets</a
        > - Pakej atom untuk coretan `HEAD`</span
      >
      <span class="inline-block"
        ><a
          class="underline"
          href="https://github.com/marcobiedermann/sublime-head-snippets"
          >Sublime Text HTML Head Snippets</a
        > - Pakej Sublime Text untuk coretan `HEAD`</span
      >
      <span class="inline-block"
        ><a class="underline" href="https://github.com/hemanth/head-it"
          >head-it</a
        > - Antara muka CLI untuk coretan `HEAD`</span
      >
      <span class="inline-block"
        ><a class="underline" href="https://github.com/ktquez/vue-head"
          >vue-head</a
        > - Memanipulasi maklumat meta teg `HEAD` untuk Vue.js</span
      >
    </div>
  </section>
  <!-- <section id="format-lain" class="flex bg-black/80 relative p-4 rounded-lg backdrop-blur-3xl flex-col items-center justify-center m-10">
    <h1 class="font-bold">Format Lain</h1>
    <a href="https://gitprint.com/joshbuchea/HEAD/blob/master/README.md"
      >📄 PDF</a
    >
  </section>
  <section id="lesen" class="flex bg-black/80 relative p-4 rounded-lg backdrop-blur-3xl flex-col items-center justify-center m-10">
    <h1 class="font-bold">Lesen</h1>
    <a href="https://creativecommons.org/publicdomain/zero/1.0/"
      ><img
        class="rounded-lg"
        src="https://i.creativecommons.org/p/zero/1.0/88x31.png"
        alt="CC0"
      /></a
    >
  </section> -->
</div>
