---
import KomponenKad from "~components/KomponenKad.svelte";
import H1Style from "~components/modular/h1.svelte";
import H2Style from "~components/modular/h2.svelte";
import H3Style from "~components/modular/h3.svelte";
import PStyle from "~components/modular/p.svelte";
import PreStyle from "~components/modular/pre.svelte";
import UlStyle from "~components/modular/ul.svelte";
import LiStyle from "~components/modular/li.svelte";
import HrStyle from "~components/modular/hr.svelte";
import { Code } from "astro:components";
import CompilerString from "~components/constants/stringcompiler";
import { getCollection, render } from "astro:content";

const kandungan = Object.values(await getCollection("kandungan"));
---

<div class="flex flex-wrap w-full h-full mx-auto gap-4 justify-center">
  {
    kandungan.sort((a, b) => (a.id as any) - (b.id as any)).map(async (item) => {
      const { Content } = await render(item);
      return (
        <KomponenKad tajuk={item.data.title}>
            <Content
              components={{
                h1: H1Style,
                ul: UlStyle,
                li: LiStyle,
                p: PStyle,
                pre: PreStyle,
                hr: HrStyle,
              }}
            />
          </KomponenKad>
      );
    })
  }
</div>