---
import { Picture } from "astro:assets";
import NMVX from "~assets/nmvxlogo.svg";
---

<footer
  class="content-grid py-8 text-center text-muted font-handwriting leading-tight text-2xl"
>
  <a
    href="https://nmvx.vercel.app/"
    target="_self"
    class="inline-flex text-base text-white flex-row w-full h-full justify-center items-center"
  >
    Ditempa oleh <Picture
      src={NMVX}
      width="115"
      height="48"
      alt="Head by NMVX Homepage"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </a>
</footer>
