---
import HeadLogo from "~assets/brand/headlogo-dark.svg";
import Background from "~assets/background.svg";
import Github from "~assets/github.svg";
---

<div id="container" class="text-white m-2 md:flex md:flex-col">
  <img
    id="background"
    class="fixed top-0 left-0 w-full h-full -z-[1] blur-[100px]"
    src={Background.src}
    alt=""
    fetchpriority="high"
  />
  <main class="h-full flex justify-center w-full md:block">
    <section class="flex align-start flex-col items-center justify-center m-10">
      <img
        src={HeadLogo.src}
        width="720"
        height="215"
        alt="Head by NMVX Homepage"
      />
      <h1 class="font-bold">
        Panduan ringkas untuk elemen <code>&#60;head&#62;</code> HTML
      </h1>
      <h3>
        terjemahan dalam bahasa melayu oleh <a
          class="font-medum underline"
          href="https://github.com/shoen1x">shoen1x</a>
      </h3>
      <div class="flex flex-row w-full h-full gap-4 justify-center pt-4">
        <a
          class="font-medium underline"
          href="https://github.com/shoen1x/HEAD/graphs/contributors"
          ><img
            src="https://img.shields.io/github/contributors/shoen1x/HEAD?style=for-the-badge&label=Penyumbang"
            class="rounded-lg"
            alt="lambang perisai Penyumbang"
          /></a
        >
        <a
          class="font-medium underline"
          href="https://creativecommons.org/publicdomain/zero/1.0/"
          ><img
            src="https://img.shields.io/badge/license-CC0-green.svg?style=for-the-badge&label=Lesen"
            class="rounded-lg"
            alt="lambang perisai Penyumbang"
          /></a
        >
        <a href="https://github.com/shoen1x/HEAD" class="font-medium underline"
          ><img
            src={Github.src}
            width="28"
            height="28"
            alt="lambang github"
          /></a
        >
      </div>
    </section>
  </main>
</div>
