---
import PStyle from "~components/modular/p.svelte";
import PreStyle from "~components/modular/pre.svelte";
import UlStyle from "~components/modular/ul.svelte";
import LiStyle from "~components/modular/li.svelte";
import { Content } from "~kandungan/tableofcontent.mdx";
---

<div class="relative lg:fixed block bottom-0 left-0 z-10">
    <div class="relative lg:flex-1 w-full h-full max-h-[50vh] inset-px rounded-lg bg-white max-w-(--breakpoint-md) overflow-y-scroll lg:m-4">
        <div class="relative px-8 pb-3 pt-4 sm:px-10 sm:pb-0 sm:pt-6">
            <p class="text-2xl lg:text-4xl font-bold tracking-tight text-gray-950 max-lg:text-center">
              Kandungan
            </p>
          </div>
        <div
            class="relative flex h-full w-full flex-col p-2 rounded-[calc(var(--radius-lg)+1px)]"
        >
        <Content components={{
            p: PStyle,
            pre: PreStyle,
            ul: UlStyle,
            li: LiStyle
        }}/>
        </div>
    </div>
</div>
